@model Org.Ktu.Isk.P175B602.Autonuoma.Models.UzsakymasF2.UzsakymasCE

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Užsakymo šalinimas (F2)"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-d" }) )
{
	@Html.AntiForgeryToken()

	<fieldset>
		<legend class="confirm-msg">Ar tikrai norite šalinti šį užsakymą?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Uzsakymas.UzsakymoID)</dt>
			<dd>@Html.DisplayFor(m => m.Uzsakymas.UzsakymoID)</dd>

			<dt>@Html.DisplayNameFor(m => m.Uzsakymas.Data)</dt>
			<dd>@String.Format("{0:yyyy-MM-dd}", Model.Uzsakymas.Data)</dd>

			<dt>@Html.DisplayNameFor(m => m.Uzsakymas.Sutartis)</dt>
			<dd>@Html.DisplayFor(m => m.Uzsakymas.Sutartis)</dd>			
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="fail-msg">
				<i class="fa-solid fa-circle-exclamation"></i> Šio užsakymo pašalinti negalima, 
				nes jis yra <i>Patvirtintas</i> arba <i>Užbaigtas</i>.
			</div>
		}
		else
		{
			<div class="buttons">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.Uzsakymas.UzsakymoID})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>			
		}
	</fieldset>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>